<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>657243407693-4fmovtv9fbnt4htp6g002qtb8drkd5hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657243407693-4fmovtv9fbnt4htp6g002qtb8drkd5hc</string>
	<key>API_KEY</key>
	<string>AIzaSyD2lwLMUxtkGkRmfRmmI2IU1XfcusVP-Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>657243407693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shawnpatel.Dr--Drone</string>
	<key>PROJECT_ID</key>
	<string>dr-drone-e597f</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-drone-e597f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657243407693:ios:eca6720d57a85909</string>
	<key>DATABASE_URL</key>
	<string>https://dr-drone-e597f.firebaseio.com</string>
</dict>
</plist>